<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Greška na serveru</title>
    <link rel="stylesheet" type="text/css" href="/css/stil.css" />
</head>

<body>
    <main class="text-center">
        <h1 class="display-1"><%= errorCode %></h1>
        <p><%= errorMessage %></p>
    </main>

</body>

</html>