<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Greška na serveru</title>
    <link rel="stylesheet" type="text/css" href="error.css" />
</head>

<body>
    <main class="text-center">
        <h1>404</h1>
        <p>Nije pronadjen taksista!</p>
        <a href="../">Vrati se na pocetnu.</a>
    </main>

</body>

</html>