<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/still.css">
    <title>Naziv app</title>
</head>
<body id="login">
    
    <h1 id="naslov">Naziv app</h1>

    <div id="div1">

        <form method="post" action="/pocetna">

            <label for="dozvola">Broj taxi dozvole:</label><br>
            <input type="text" name="dozvola" id="dozvola" required> 
            <br>
            <br>

            <input type="submit" value="login" id="log">

        </form>


        <p>Nemate nalog? <a href="./signup">Registruj se </a></p>

</body>
</html>