<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/share.css">
    <title>Naziv app</title>
</head>
<body>
    <h1>Podeli sa prijateljima</h1> 
    <p> Podeli link sa prijateljima i osvoji 10 dodatnih poena </p>

    

    <div id="dugmici">
        <button onclick="shareViaMessage()">Share via Message</button>
        <button onclick="shareViaWhatsApp()">Share via WhatsApp</button> <br> <br>
        <button onclick="shareViaViber()">Share via Viber</button> 
        <button onclick="shareViaEmail()">Share via Email</button> <br> <br>
        <button onclick="shareOnFacebook()">Share on Facebook</button>
        <button onclick="shareOnTwitter()">Share on Twitter</button>
    </div>



   <script src="/scripts.js"></script>

    
</body>
</html>