<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/signup.css">
    <title>Taxi u praksi</title>
</head>
<body id="login">
    
    <h1 id="naslov">Napravi svoj nalog</h1>
    <br>
    
    <div id="div1">

        <form method="post" action="../pocetna">
            <label for="dozvola">Broj taxi dozvole:</label><br>
            <input type="text" class="textBox" name="dozvola" id="dozvola" required>
            <br><br>
            <label for="telefon">Broj telefona:</label><br>
            <input type="text" class="textBox" name="telefon" id="telefon" required> 
            <br><br>
            <label for="ime">Ime:</label> <br>
            <input type="text" class="textBox" name="ime" id="ime" required>  
            <br><br>
            <label for="prezime">Prezime:</label><br>
            <input type="text" class="textBox" name="prezime" id="prezime" required> 

            <br><br>
            <label for="datum_rodjenja">Datum rođenja:</label><br>

            <input type="date" class="textBox" name="datum_rodjenja" id="datum_rodjenja" required> 
        
            <br><br>
            <input type="text" name="ind" value="signup" hidden> 

            <input type="submit" value="Prijavi se" id="log">

        </form>
    </div>
        <br>
        <div id="slika_logo">
            <img src="taxi_u_praksi_logo.jpeg">
        </div>
        <script src="validacija.js"></script>

</body>
</html>