<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/still.css">
    <title>Naziv app</title>
</head>
<body>
    
    <h1 id="naslov">Naziv app</h1>

    <div id="div1">

        <form method="post" action="../pocetna">
            <label for="dozvola">Broj taxi dozvole:</label>
            <input type="text" name="dozvola" id="dozvola" required>
            <br><br>
            <label for="telefon">Broj telefona:</label>
            <input type="text" name="telefon" id="telefon" required> 
            <br><br>
            <label for="ime">Ime:</label>
            <input type="text" name="ime" id="ime" required>  
            <br><br>
            <label for="prezime">Prezime:</label>
            <input type="text" name="prezime" id="prezime" required> 

            <br><br>
            <label for="datum_rodjenja">Datum rođenja:</label>
            <input type="date" name="datum_rodjenja" id="datum_rodjenja" required> 
            <br>
            <br>

            <input type="submit" value="Prijavi se" id="log">

        </form>

</body>
</html>