* {
    font-family:'Courier New', Courier, monospace;
    font-size:20px;
}
html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url('put.jpeg');
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bolder;

    background-size: cover;

    /* color: goldenrod; */
}
h1{
    text-align: center;
    margin: auto;
    font-size: larger;
    border:3px solid black;
    background-color:  goldenrod;
    display: inline-block;
    position: relative;
    width: 400px;
    /* left: 30%; */
    left: calc((50%) - 260px);
    /* right:calc((50%)-260px); */
    /* right: 35%; */
}
div{
    margin:auto;
    width: 100%;
    padding: 10px;

}
 
p{
    text-align: center;
    margin: auto;
    color: goldenrod;
    background-color:  black;
    /* font-size: xx-large; */
    font-weight: bolder;
    position: relative;
    top: 20%;
    

} 
#dugmici{
    margin: auto;
    width: 80%;
    padding: 10px;
    /* border: 10px solid black; */
    text-align: center;
    
    /* z-index: 6; */
}

.buttonCustom{
    display: inline-block;
    /* position: relative; */
    margin:10px auto;
    /* left: 20%; */
    width: 300px;
    padding: 7px;
    background-color: antiquewhite;
    z-index: 10;
}

#taxi{
    
    position: relative;
    margin:auto;
    width: 400px;
    bottom: 7px;
    left: calc((50%) - 200px);
    border-radius: 50%;
    z-index: 5;
}