* {
    font-family:'Courier New', Courier, monospace;
    font-size:20px;
}
html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url('put.jpeg');
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bolder;

    background-size: cover;

    /* color: goldenrod; */
}
h1{
    text-align: center;
    margin: auto;
}


/* 
h1 {
    border:3px solid black;
    margin:auto;
    width: 20%;
    padding: 10px;
    position: absolute;
    left: 500px;
    text-align: center;
    font-size: 40px; 
    margin-bottom: 20px;
    margin-top: 20px;
    background-color:  goldenrod;
} */
div{
    margin:auto;
    width: 100%;
    padding: 10px;

}
 
p{
    text-align: center;
    margin: auto;
    color: goldenrod;
    font-size: xx-large;
    font-weight: bolder;
    

} 
#dugmici{
    margin: auto;
    width: 50%;
    padding: 10px;
}

/* .buttonCustom{
.buttonCustom{
    display: inline-block;
    position: relative;
    left: 10%;
    width: 40%;
    padding: 7px;
    background-color: antiquewhite;
} */


#taxi{
    
    position: absolute;
    margin:auto;
    width: 400px;
    bottom: 7px;
    left: 35%;
    border-radius: 50%;
    z-index: 7;
}