html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url(taxi.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: 50% 100%;
}

div{
    margin:auto;
    width: 100%;
    padding: 10px;

}

p{
    text-align: center;
}

#dugmici{
    margin: auto;
    width: 50%;
    padding: 10px;
}

button{
    display: inline-block;
    position: relative;
    left: 10%;
    width: 40%;
    padding: 7px;
    background-color: antiquewhite;
}

h1{
    text-align: center;
}

#taxi{
    margin:auto;
    width: 100%;
    border-radius: 50%;
    
}