/* * {
    font-family:'Courier New', Courier, monospace;
    font-size:20px; */
    /* text-align: center; */
/* } */
html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url('put.jpeg');
    background-repeat: repeat-y;
    background-size: cover;
    font-weight: bolder;
    font-size: xx-large;
}

/* input[type="text"],input[type="date"]{
    display: block;
    height: 30px;
    width: 100%;
    border: 5px solid black;
} */
/* .textBox{
    display: block;
    height: 30px;
    width: 100%;
    border: 5px solid black;
}
input[type="submit"]{
    display: block;
    height: 50px;
    width: 100%;
    border-radius: 25px;
    border: 4px solid goldenrod;
} */

#div1{
    border:3px solid white;
    margin:auto;
    width: 50%;
    padding: 10px;
    border-radius: 25px;
    

}


#login{
    color: goldenrod;

}
label{
    margin-left: 10px;
    /* background-color: gray; */
}
#naslov{
    text-align: center;
    margin:auto;
    width: 50%;
    padding: 10px;
    font-size: 80px;
}


form, p{
    margin:auto;
    width: 30%;
    padding: 10px;
}

