* {
    font-family:'Courier New', Courier, monospace;
    font-size:20px;
    text-align: center;
}
body {
    position: relative;
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url("kartica.jpg");
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* font-weight: bolder; */
}
h1 {
    border:3px solid black;
    margin:auto;
    width: 60%;
    padding: 10px;
    left: 20%;
    right: 20%;
    position: relative;
    text-align: center;
    font-size: 40px; 
    margin-bottom: 20px;
    margin-top: 20px;
    /* background-color:  goldenrod; */
    background-color: rgba(218,165,32,0.7);
    border-radius: 25px;
}
.omotac {
    display: inline-block;
    position: relative;
    background-color: goldenrod;
    width: 30%;
    margin-right: 2%;
    height: 500px;
    border-radius: 15%;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.8);
}
#trojka{
    width: 80%;
    margin-left: 200px;
    height: 500px;
}
.cena{
    position: absolute;
    bottom: 80px;
    font-size: 30px;
    font-weight: bold;
    left: 25%;
    text-decoration-line: line-through;
}

.niza_cena{
    position: absolute;
    bottom: 20px;
    font-size: 45px;
    font-weight: bold;
    left: 20%;
    color: red;
}
img {
    position: absolute;
    width: 70%;
    left: 5%;
    top: 20px;
}
input{
    background-color: gray;
    
}
.ime{
    bottom: 150px;
    left: 20%;
    position: absolute;
    align-items: center;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: black;

}
.br_bodova{
    bottom: 130px;
    left: 10%;
    position: absolute;

    text-decoration: black;
}
#indikator{
    background-color: goldenrod;
    border: 0;
}
input[type="submit"]{
    bottom: 30px;
    left: 10%;
    position: absolute;

    text-decoration: black;
    
}
#kao_submit{
    background-color: red;
    display: block;
    bottom: 8px;
    left: 10%;
    width: 80%;
    position: absolute;
    font-size: smaller;
    font-weight: bold;
    text-decoration: black;
}