* {
    font-family:'Courier New', Courier, monospace;
    font-size:20px;
}
html, body{
    margin: 0px auto;
    height: 100%;
    width: 100%;
    background-image: url('put.jpeg');
    /* background-repeat: repeat-y; */
    background-size: cover;
    font-weight: bolder;
    font-size: xx-large;
}
#mapa{
    padding-top: 30px;
   text-align: center;
   padding-bottom: 30px;

}


h1 {
    border:3px solid black;
    margin:auto;
    width: 40%;
    padding: 10px;
    position: relative;
    text-align: center;
    font-size: 40px; 
    margin-bottom: 20px;
    margin-top: 20px;
    /* background-color:  goldenrod; */
    background-color: rgba(218,165,32,0.7);
    border-radius: 25px;
}

#gorivanca {
    font-size: 30px;
    margin: auto;
    width: 600px;
    border: black 5px solid; 
    border-collapse: collapse;
}
table{
    width: 800px;
    /* background-color:  goldenrod; */

    background-color: rgba(218,165,32,0.7);
    margin: auto;
    border: black 12px solid;
    /* position: relative;
    top: 15%; */
}
th, td {
    border: black 5px solid;
    font-size: 30px;
    /* margin: auto; */
    text-align: center;
    height: 100px;
    width: 80%;
}
th {
    height: auto;
}

td {
    border: black 3px solid;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}



